<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurante</title>
    <!-- Integracion mapa -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <!-- Estilo CSS -->
    <link rel="stylesheet" href="/css/home.css">
    <!-- Estilo Fuente Roboto -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
    <!-- Iconos -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
</head>

<body>
    <header>
        <div class="navbar">
            <div class="logo">
                <a href="/">
                    <img src="/images/logo.png" alt="Logo-Lux">
                </a>
            </div>
            <div class="search-bar">
                <form action="/" method="get">
                    <input type="text" id="busqueda" name="q" placeholder="Buscar productos, marcas">
                    <button type="submit">
                        <i class="fas fa-search"></i>
                    </button>
                </form>
            </div>
            <div class="sub">
                <i class="fas fa-hand-holding-usd"></i>
                <p>Recibimos todos los medios de pago</p>
            </div>
        </div>

        <div class="site">
            <nav class="site1">
                <ul>
                    <li><a href="#">Ofertas</a></li>
                    <li><a href="#">Ayuda</a></li>
                </ul>
            </nav>
            <nav class="site2">
                <ul>
                    <li>
                        <a href="/register">Creá tu cuenta</a>
                        <i class="fas fa-id-card"></i>
                    </li>
                    <li>
                        <a href="/login">Ingresá</a>
                        <i class="fas fa-sign-out-alt"></i>
                    </li>
                    <li>
                        <a href="">Mis reservas</a>
                        <i class="fas fa-shopping-basket"></i>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="contenedor">
            <div class="burger-menu">
                <i class="fas fa-bars"></i>
            </div>
        </div>
        
    </header>

    
    <main>
        
        <h2 class="titulares">ALMUERZOS</h2>

        <div class="box">

            <div class="articulo">
                <div class="info">
                    <img src="/images/cordero.jpeg" alt="cordero">
                </div>
                <div class="detalle">
                    <div class="product-delivery-icon">
                        <i class="fas fa-truck"></i>
                    </div>
                    <div class="articulo-contenedor">
                        <div class="precios">Cordero de la puna jujeña al horno con reducción de cerveza negra</div>
                        <div class="descuentos">$$$</div>
                    </div>
                </div>
                <div class="articulo-titulo">
                    <div class="titulo">
                        <h3>Puré de zanahorias
                            Verduras horneadas
                            Milhojas de papa.</h3>
                        
                    </div>
                </div>
            </div>

            <div class="articulo">
                <div class="info">
                    <img src="/images/fettuccinesCaseros.jpeg" alt="fettuccinesCaseros">
                </div>
                <div class="detalle">
                    <div class="product-delivery-icon">
                        <i class="fas fa-truck"></i>
                    </div>
                    <div class="articulo-contenedor">
                        <p class="precios">Fettuccines caseros con semolin de trigo</p>
                        <p class="descuentos">$$$</p>
                    </div>
                </div>
                <div class="articulo-titulo">
                    <div class="titulo">
                        <h3>Puré de zanahorias
                            Verduras horneadas
                            Milhojas de papa.</h3>
                    </div>
                </div>
            </div>

            <div class="articulo">
                <div class="info">
                    <img src="/images/triangolis.jpeg" alt="triangolis">
                </div>
                <div class="detalle">
                    <div class="product-delivery-icon">
                        <i class="fas fa-truck"></i>
                    </div>
                    <div class="articulo-contenedor">
                        <p class="precios">Triangolis</p>
                        <p class="descuentos">$$$</p>
                    </div>
                </div>
                <div class="articulo-titulo">
                    <div class="titulo">
                        <h3>Masa al huevo con semolin de trigo, rellenos de osobuco al Malbec, panceta y arvejas frescas</h3>
                    </div>
                </div>
            </div>

            <div class="articulo">
                <div class="info">
                    <img src="/images/arepasDeLlama.jpeg" alt="arepasDeLlama">
                </div>
                <div class="detalle">
                    <div class="product-delivery-icon">
                        <i class="fas fa-truck"></i>
                    </div>
                    <div class="articulo-contenedor">
                        <p class="precios">Arepa rellena de carne de llama</p>
                        <p class="descuentos">$$$</p>
                    </div>
                </div>
                <div class="articulo-titulo">
                    <div class="titulo">
                        <h3>Cocida a fuego bajo con cebolla y zumo de naranja acompañada de una salsa de arándanos y ají amarillo peruano</h3>
                    </div>
                </div>
            </div>

        </div>

        <!-- <h2>Ofertas</h2> -->

        <div class="box">

            <div class="articulo">
                <div class="info">
                    <img src="/images/malffatis.jpeg" alt="malffatis">
                </div>
                <div class="detalle">
                    <div class="product-delivery-icon">
                        <i class="fas fa-truck"></i>
                    </div>
                    <div class="articulo-contenedor">
                        <p class="precios">Malffatis horneados de ricota casera de Barcena</p>
                        <p class="descuentos">$$$</p>
                    </div>
                </div>
                <div class="articulo-titulo">
                    <div class="titulo">
                        <h3>Queso de cabra y hongos de pino, nos gusta acompañarlos con una salsa de crema y espinaca</h3>
                    </div>
                </div>
            </div>

            <div class="articulo">
                <div class="info">
                    <img src="/images/lomoDeLlama.jpeg" alt="lomoDeLlama">
                </div>
                <div class="detalle">
                    <div class="product-delivery-icon">
                        <i class="fas fa-truck"></i>
                    </div>
                    <div class="articulo-contenedor">
                        <p class="precios">Lomo de llama con salsa de mango y locoto</p>
                        <p class="descuentos">$$$</p>
                    </div>
                </div>
                <div class="articulo-titulo">
                    <div class="titulo">
                        <h3>AGREGAR DESCRIPCIONAGREGAR DESCRIPCIONAGREGAR DESCRIPCIONAGREGAR DESCRIPCION</h3>
                    </div>
                </div>
            </div>

            <div class="articulo">
                <div class="info">
                    <img src="/images/sopaDeMani.jpeg" alt="sopaDeMani">
                </div>
                <div class="detalle">
                    <div class="product-delivery-icon">
                        <i class="fas fa-truck"></i>
                    </div>
                    <div class="articulo-contenedor">
                        <p class="precios">Sopa de Maní</p>
                        <p class="descuentos">$$$</p>
                    </div>
                </div>
                <div class="articulo-titulo">
                    <div class="titulo">
                        <h3>AGREGAR DESCRIPCION</h3>
                    </div>
                </div>
            </div>

            <div class="articulo">
                <div class="info">
                    <img src="/images/empanadas.jpeg" alt="empanadas">
                </div>
                <div class="detalle">
                    <div class="product-delivery-icon">
                        <i class="fas fa-truck"></i>
                    </div>
                    <div class="articulo-contenedor">
                        <p class="precios">Empanadas</p>
                        <p class="descuentos">$$$</p>
                    </div>
                </div>
                <div class="articulo-titulo">
                    <div class="titulo">
                        <h3>AGREGAR DESCRIPCION</h3>
                    </div>
                </div>
            </div>
        </div>
    </main>


    <footer>
        <div class="footer">
            <div class="footer-icon">
                <i class="fas fa-credit-card"></i>

                <h3>Pagá con tarjeta o en efectivo</h3>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!</p>
            </div>
            <div class="footer-icon">
                <i class="fas fa-gift"></i>

                <h3>Envío gratis desde $ 2.500</h3>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</p>
            </div>
            <div class="footer-icon">
                <i class="fas fa-user-shield"></i>

                <h3>Seguridad, de principio a fin</h3>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.</p>
                <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
            </div>
        </div>
        <!-- Integracion de una ubicacion -->
            <h3>Mi Mapa con Leaflet</h3>
            <div id="map"></div>
            <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
            <script>
                var map = L.map('map').setView([-23.62967, -65.40333], 15); // Cambia estos valores por las coordenadas deseadas
        
                // Añade el tile layer de OpenStreetMap
                L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
                }).addTo(map);
        
                // Añade un marcador
                L.marker([-23.62967, -65.40333]).addTo(map) // Cambia estos valores por las coordenadas deseadas
                    .bindPopup('Ubicación específica')
                    .openPopup();
            </script>
    </footer>
</body>

</html>