* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Roboto";
    font-size: 12px;
}

body {
    background-color: #ebebeb;
    width: 100%;
    font-size: 12px;
}

/* HEADER */

header {
    background-color: #EAC926;
}

ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
}

.sub {
    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    width: 100%;
    height: auto;
}

.contenedor {
    padding: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.burger-menu {
    background-color: #03264C;
    padding: 10px;
    border-radius: 5px;
}

.burger-menu i {
    color: white;
    font-size: 30px;
    cursor: pointer;
}

/* MAIN */

body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
    text-align: center;
}

body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
}

main {
    padding: 30px 0px 350px 0px;
    background-color: #ebebeb;
}

.form-register input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

.form-register input[type="submit"] {
    background-color: #353E4A;
    color: white;
    cursor: pointer;
}

.form-register input {
    width: 50%;
    box-sizing: border-box;
}
.enviar {
    background-color: #1259c3;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 50%;
    transition: background-color 0.3s;
}

.enviar:hover {
    background-color: #0022AA;
}


.form-group{
    padding-top: 20px;
}

/* FOOTER */

.footer {
    text-align: center;
    padding-top: 20px;
}

.footer i {
    font-size: 2em;
    margin-bottom: 10px;
    color: rgb(0, 68, 255);
}

/* RESPONSIVIDAD */

/* MOBILE */
@media screen and (max-width: 360px) {
    .navbar {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
    }

    .logo {
        flex-basis: 50%;
    }

    .search-bar {
        flex-basis: 50%;
    }

    .site {
        display: none;
    }

    .articulo {
        display: block;
        width: 100%;
        /* Un artículo por fila en mobile */
    }

    .titulo h3 {
        display: none;
    }
    /* FOOTER */

    .footer {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        background-color: #f5f5f5;
        padding: 10px;
        
    }
    .footer-icon {
        color: #333; 
        transition: color 0.3s; }
    .footer-icon:hover {
        color: #007bff; }
}

/* TABLET */
@media screen and (min-width: 361px) {
    .navbar {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .site {
        display: flex;
        padding-top: 20px;
        padding-bottom: 20px;
        justify-content: space-around;
        align-items: center;
    }

    .site1 ul {
        display: flex;
        list-style: none;
        padding: 0;
    }

    .site1 li {
        margin: 0px 5px 0px 15px;
    }

    .site1 a {
        text-decoration: none;
        color: black;
    }

    .site2 ul {
        display: flex;
        list-style: none;
        padding: 0;
    }

    .site2 li {
        margin: 0px 5px 0px 15px;
    }

    .site2 a {
        text-decoration: none;
        color: black;
    }

    .contenedor {
        display: none;
    }

    .articulo {
        width: 40%;
        /* Dos artículos por fila en tablet */
    }

    main .articulo {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }

    /* FOOTER */

    .footer {
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: #f5f5f5;
        /* Color de fondo del footer */
        padding: 10px;
        /* Ajusta según sea necesario */
    }
    .footer-icon {
        color: #333; /* Color inicial de los íconos */
        transition: color 0.3s; /* Transición de color al pasar el mouse */
    }
    .footer-icon:hover {
        color: #007bff; /* Nuevo color al pasar el mouse */
    }
    
}

/* DESKTOP */
@media screen and (min-width: 769px) {
    .navbar {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .site {
        display: flex;
        padding-top: 20px;
        padding-bottom: 20px;
        justify-content: space-around;
        align-items: center;
    }

    .site1 ul {
        display: flex;
        list-style: none;
        padding: 0;
    }

    .site1 li {
        margin: 0px 5px 0px 15px;
    }

    .site1 a {
        text-decoration: none;
        color: black;
    }

    .site2 ul {
        display: flex;
        list-style: none;
        padding: 0;
    }

    .site2 li {
        margin: 0px 5px 0px 15px;
    }

    .site2 a {
        text-decoration: none;
        color: black;
    }

    .contenedor {
        display: none;
    }

    .articulo {
        width: calc(25% - 30px);
        margin: 15px;
        /* Cuatro artículos por fila en desktop */
    }

    main .articulo {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }

    /* FOOTER */

    .footer {
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: #f5f5f5;
        padding: 10px;
    }
    .footer-icon {
        width: 18%;
        color: #333;
        transition: color 0.3s;
    }
    .footer-icon:hover {
        color: #007bff;
    }
}