* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Roboto";
    font-size: 12px;
}

body {
    background-color: #ebebeb;
    width: 100%;
    font-size: 12px;
}

/* HEADER */

header {
    background-color: #EAC926;
}

ul {
    list-style-type: none;
}

.sub {
    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    width: 100%;
    height: auto;
}

.contenedor {
    padding: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.burger-menu {
    background-color: #03264C;
    padding: 10px;
    border-radius: 5px;
}

.burger-menu i {
    color: white;
    font-size: 30px;
    cursor: pointer;
}

.banner {
    background-color: #ebebeb;
    ;
}

body,
h1,
h2,
p,
ul,
li {
    margin: 0;
    padding: 0;
    text-align: center;
}

/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
}

.header_container {
    background-color: #FBF8EF;
    color: white;
    padding: 10px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu ul {
    list-style: none;
    display: flex;
}

.menu li {
    margin-right: 20px;
}

.menu a {
    text-decoration: none;
    color: #353E4A;
    font-weight: bold;
    font-size: 16px;
}

.main {
    padding: 20px;
}

.form-register button {
    background-color: #2619e0;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.form-register {
    max-width: 400px;
    margin: 0 auto;
    background-color: #ebebeb;
    padding: 20px;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-register input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

.form-register input[type="submit"] {
    background-color: #353E4A;
    color: white;
    cursor: pointer;
}

.form-register input {
    width: 48%;
    box-sizing: border-box;
}

.footer {
    background-color: #353E4A;
    color: white;
    text-align: center;
    padding: 10px;
}

/* Ajustes específico*/
.form-register input[name="email"] {
    width: 100%;
}

.form-register input[type="submit"] {
    width: 100%;
}

.form-register input[name="domicilio"] {
    width: 100%;
}


/* Ajustes para tamaños de pantalla más pequeños (tablets y celulares) */
@media screen and (max-width: 768px) {
    .navbar {
        flex-direction: column;
        text-align: center;
    }

    .menu {
        margin-top: 10px;
        order: 2;
    }

    .menu li {
        margin-bottom: 10px;
    }

    /* Agrego márgenes */
    .menu a {
        margin-bottom: 5px;
    }

    .logo {
        order: 1;
        /* Cambio el oreden*/
    }

    .logo img {
        max-width: 400px;
    }

    .form-register {
        max-width: 100%;
    }

    .form-register input {
        width: 100%;
    }
}

/* FOOTER */

.footer {
    text-align: center;
}

.footer i {
    font-size: 2em;
    margin-bottom: 10px;
    color: rgb(0, 68, 255);
}

/* RESPONSIVIDAD */

/* MOBILE */
@media screen and (max-width: 360px) {
    .navbar {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
    }

    .logo {
        flex-basis: 50%;
    }

    .search-bar {
        flex-basis: 50%;
    }

    .site {
        display: none;
    }

    .articulo {
        display: block;
        width: 100%;
        /* Un artículo por fila en mobile */
    }

    .titulo {
        opacity: 0;
        transition: opacity 0.3s ease;
    }

    .articulo:hover .titulo {
        opacity: 1;
    }

    .articulo:hover {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }

    .product-delivery-icon i {
        transition: transform 0.3s ease;
    }

    .product-delivery-icon:hover i {
        transform: rotate(-90deg);
    }

    /* FOOTER */

    .footer {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        background-color: #f5f5f5;
        padding: 10px;

    }

    .footer-icon {
        color: #333;
        transition: color 0.3s;
    }

    .footer-icon:hover {
        color: #007bff;
    }
}

/* TABLET */
@media screen and (min-width: 361px) {
    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .site {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .site {
        display: flex;
        padding-top: 20px;
        padding-bottom: 20px;
        justify-content: space-between;
        align-items: center;
    }

    .site1 ul {
        display: flex;
        list-style: none;
        padding: 0;
    }

    .site1 li {
        margin: 0px 5px 0px 15px;
    }

    .site1 a {
        text-decoration: none;
        color: black;
    }

    .site2 ul {
        display: flex;
        list-style: none;
        padding: 0;
    }

    .site2 li {
        margin: 0px 5px 0px 15px;
    }

    .site2 a {
        text-decoration: none;
        color: black;
    }

    .contenedor {
        display: none;
    }

    .articulo {
        width: 40%;
        /* Dos artículos por fila en tablet */
    }

    .titulo {
        opacity: 0;
        transition: opacity 0.3s ease;
    }

    .articulo:hover .titulo {
        opacity: 1;
    }

    .articulo:hover {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }

    .product-delivery-icon i {
        transition: transform 0.3s ease;
    }

    .product-delivery-icon:hover i {
        transform: rotate(-90deg);
    }

    /* FOOTER */

    .footer {
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: #f5f5f5;
        padding: 10px;
    }

    .footer-icon {
        color: #333;
        transition: color 0.3s;
    }

    .footer-icon:hover {
        color: #007bff;
    }

}

/* DESKTOP */
@media screen and (min-width: 769px) {
    .navbar {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .site {
        display: flex;
        padding-top: 20px;
        padding-bottom: 20px;
        justify-content: space-around;
        align-items: center;
    }

    .site1 ul {
        display: flex;
        list-style: none;
        padding: 0;
    }

    .site1 li {
        margin: 0px 5px 0px 15px;
    }

    .site1 a {
        text-decoration: none;
        color: black;
    }

    .site2 ul {
        display: flex;
        list-style: none;
        padding: 0;
    }

    .site2 li {
        margin: 0px 5px 0px 15px;
    }

    .site2 a {
        text-decoration: none;
        color: black;
    }

    .contenedor {
        display: none;
    }

    .articulo {
        width: calc(25% - 30px);
        margin: 15px;
        /* Cuatro artículos por fila en desktop */
    }

    .titulo {
        opacity: 0;
        transition: opacity 0.3s ease;
    }

    .articulo:hover .titulo {
        opacity: 1;
    }

    .articulo:hover {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }

    .product-delivery-icon i {
        transition: transform 0.3s ease;
    }

    .product-delivery-icon:hover i {
        transform: rotate(-90deg);
    }

    /* FOOTER */

    .footer {
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: #f5f5f5;
        padding: 10px;
    }

    .footer-icon {
        width: 18%;
        color: #333;
        transition: color 0.3s;
    }

    .footer-icon:hover {
        color: #007bff;
    }
}